@import color
@import base
@import incremental

/*
 * Slide specific definition
 */

#gpg-en-30-minutes
  h1
    vertical-align: middle
    margin-top: 30%
    text-align: center

pre.example-mail
  text-align: left !important
  margin: 30%

img.smtp
  margin-top: 45px

img.sym-graph
  margin-top: 10%

img.asym
  margin-top: -30px
#en-somme
  h1
    margin-bottom: 125px
  p
    margin-top: 40px

.mail-clair
  text-align: left !important
  margin-top: 10px
  float: left

.mail-chiffre
  text-align: left !important
  margin-top: 10px
  float: right

#hands-on
  h1
    margin-bottom: 150px

#enigmail-01
  margin-top: 30px

#enigmail-02,
#enigmail-03
  margin-top: 90px

#enigmail-04
  margin-top: 150px

#enigmail-05,
#enigmail-06
  margin-top: -35px

#enigmail-07
  margin-top: 80px

#enigmail-08
  margin-top: -25px

.full-page
  h1
    line-height: 600px
    vertical-align: middle
    margin: 0px

#étendre-la-toile-de-confiance
  h1
    margin-bottom: 30px
